.dark
{
    --black-color: rgb(0 0 0);
    --dark-gray: rgb(50 50 50);
    --light-black: rgb(75 75 75);
    --gray: rgb(150 150 150);
    --light-gray: rgb(200 200 200);
    --white-color: rgb(255 255 255);
}

.light
{
    --black-color: rgb(255 255 255);
    --dark-gray: rgb(205 205 205);
    --light-black: rgb(180 180 180);
    --gray: rgb(105 105 105);
    --light-gray: rgb(55 55 55);
    --white-color: rgb(0 0 0);
}

.footer
{
    height: 75px;
    width: 100%;
    background-color: var(--black-color);
    margin-top: auto;
    border-radius: 15px 15px 0 0;
}

.contact
{
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 10%;
    h1
    {
        color: var(--white-color);
    }
}

.contact-information
{
    p
    {
        color: var(--white-color);
    }
    p:hover
    {
        cursor: pointer;
    }
}