.dark
{
    --black-color: rgb(0 0 0);
    --dark-gray: rgb(50 50 50);
    --light-black: rgb(75 75 75);
    --gray: rgb(150 150 150);
    --light-gray: rgb(200 200 200);
    --white-color: rgb(255 255 255);
}

.light
{
    --black-color: rgb(255 255 255);
    --dark-gray: rgb(205 205 205);
    --light-black: rgb(180 180 180);
    --gray: rgb(105 105 105);
    --light-gray: rgb(55 55 55);
    --white-color: rgb(0 0 0);
}

.header
{
    z-index: 2;
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    background-color: var(--black-color);
    display: flex;
    border-radius: 0 0 15px 15px;
}

.logo-container
{
    align-self: center;
    width: 10%;
    margin-left: 10%;
    img
    {
        max-width: 100%;
    }
    img:hover
    {
        cursor: pointer;
    }
}

.menu
{
    height: 100%;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    gap: 5%;
    a
    {
        text-decoration: none;
        color: var(--white-color);
        font-size: 125%;
        font-weight: bold;
    }
    a::after
    {
        content: "";
        display: flex;
        height: 2px;
        width: 100%;
        background-color: var(--light-black);
        left: 0;
        transform: scale(0,0);
        transition: all ease 0.3s;
    }
    a:hover
    {
        color: var(--light-black);
    }
    a:hover:after
    {
        transform: scale(1,1);                   
    }
}

.login
{
    height: 100%;
    width: 10%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    a
    {
        text-decoration: none;
        color: var(--gray);
        font-size: 125%;
        font-weight: bold;
    }
    a:hover
    {
        cursor: pointer;
        color: var(--light-gray);
    }
}

.language-button-container
{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    h1
    {
        color: var(--gray);
        font-weight: bold;
        font-size: 125%;
    }
    h1:hover
    {
        cursor: pointer;
    }
    .language-value
    {
        height: 0px;
        overflow: hidden;
        border-radius: 0 0 15px 15px;
        width: fit-content;
        position: absolute;
        margin-top: 10%;
        background-color: var(--light-black);
        transition: 0.3s;
        p
        {
            color: var(--white-color);
            border-radius: 10px;
            font-weight: bold;
            font-size: 125%;
            margin: 3px;
            padding: 15px;
        }
        p:hover
        {
            background-color: var(--dark-gray);
        }
    }
    .show
    {
        height: fit-content;
    }
}

.dark-mode
{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon
    {
        color: var(--white-color);
        scale: 1.75;
    }
    .icon:hover
    {
        cursor: pointer;
    }
}