.dark
{
    --black-color: rgb(0 0 0);
    --dark-gray: rgb(50 50 50);
    --light-black: rgb(75 75 75);
    --gray: rgb(150 150 150);
    --light-gray: rgb(200 200 200);
    --white-color: rgb(255 255 255);
}

.light
{
    --black-color: rgb(255 255 255);
    --dark-gray: rgb(205 205 205);
    --light-black: rgb(180 180 180);
    --gray: rgb(105 105 105);
    --light-gray: rgb(55 55 55);
    --white-color: rgb(0 0 0);
}

.homepage
{
    margin-top: 10vh;
    height: 80vh;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,18.5vh);
    gap: 2vh;
    .item
    {
        transition: 0.25s;
        border-radius: 15px;
        border: 1px solid var(--white-color);
    }
    .item:hover
    {
        scale: 1.025;
    }
    img
    {
        border-radius: 15px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.how-to-play
{
    position: relative;
    grid-column: span 3;
    grid-row: span 2;
}

.card-search
{
    position: relative;
    grid-column: span 2;
}

.title-background
{
    border-radius: 0px 0px 15px 15px;
    height: 25%;
    width: 100%;
    position: absolute;
    background-color: var(--light-black);
    opacity: 0.75;
    bottom: 0px;
}
.title
{
    height: 25%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1
    {
        font-size: 25px;
        margin: 0px;
        color: var(--white-color);
    }
}