.dark
{
    --black-color: rgb(0 0 0);
    --dark-gray: rgb(50 50 50);
    --light-black: rgb(75 75 75);
    --gray: rgb(150 150 150);
    --light-gray: rgb(200 200 200);
    --white-color: rgb(255 255 255);
}

.light
{
    --black-color: rgb(255 255 255);
    --dark-gray: rgb(205 205 205);
    --light-black: rgb(180 180 180);
    --gray: rgb(105 105 105);
    --light-gray: rgb(55 55 55);
    --white-color: rgb(0 0 0);
}

.navigation
{
    top: 75px;
    left: 0;
    position: fixed;
    height: calc(100vh - 150px);
    width: fit-content;
    background-color: var(--light-black);
    a
    {
        color: var(--light-gray);
        text-decoration: none;
    }
    a:hover
    {
        color: var(--gray);
    }
    h1,h2
    {
        margin: 0;
        padding: 5px        
    }
    h1
    {
        font-size: 25px;
        margin-left: 10px;
    }
    h2
    {
        font-size: 22px;
        margin-left: 20px;
    }
}

.tutorials
{
    margin: 275px 0px 150px 0px;
    justify-self: center;
    width: 70%;
}